/* =========================
   SCRIPT BASE
   ========================= */

.script-page{
    width: 8.5in;
    min-height: 11in;
    margin: 2rem auto;
    padding-left: 1.5in;
    padding-right: 1in;
    padding-top: 1in;
    padding-bottom: 1in;

    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
    line-height: 1.1;

    background-color: white;
}

.script-block {
    white-space: pre-wrap;
    margin-bottom: 0.8em;
}

.script-block:focus {
    outline: none;
}

/* =========================
   TITLE PAGE
   ========================= */

.script-title-page {
    width: 8.5in;
    height: 11in;
    margin: 2rem auto;
    padding: 1in;

    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.script-title-page .title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.script-title-page .written-by {
    margin-bottom: 0.5em;
}

.script-title-page .based-on {
    margin-bottom: 0.5em;
}

.script-title-page .author {
    margin-bottom: 2em;
}

.script-title-page .contact {
    position: absolute;
    bottom: 1in;
    left: 1.5in;
}

/* =========================
   SCRIPT BLOCKS
   ========================= */

/* Scene Heading */
.script-block.sceneheading {
    text-transform: uppercase;
    margin-bottom: 1.2em;
}

/* Subheading */
.script-block.subheader {
    text-transform: uppercase;
    margin-left: 0;
    margin-bottom: 1em;
}

/* Action */
.script-block.action {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
}

/* Character */
.script-block.character {
    margin-left: 3.7in;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

/* Example: V.O. COUNT'D */
.script-block.extension {
    margin-left: 3.7in;
    margin-top: -0.2em;
    margin-bottom: 0.1em;
    font-style: italic;
    font-size: 11.5pt;
}

/* Parentheticals specify the characteristics of the dialogue */
.script-block.parenthetical::before {
    content: "(";
}

.script-block.parenthetical {
    margin-left: 3.1in;
    margin-right: 2.5in;
    margin-top: 0;
    margin-bottom: 0.2em;

    font-style: italic;
    line-height: 1.05;
}

.script-block.parenthetical::after {
    content: ")";
}

/* Dialogue */
.script-block.dialogue {
    margin-left: 2.5in;
    margin-right: 2in;
}

/* Transition */
.script-block.transition {
    text-align: right;
    text-transform: uppercase;
    margin-top: 1em;
}

/* =========================
   SCENE AND PAGE NUMBERS
   ========================= */

/* Scena Number */
.script-block.scenenumber {
    position: absolute;
    left: 0.5in;
    font-size: 12pt;
}

/* Page Number */
.script-page-number {
    position: absolute;
    top: 0.5in;
    right: 1in;
}

/* =========================
   Locked Page
   ========================= */

.script-page.locked .script-block {
    pointer-events: none;
    user-select: text;
}

.script-page.locked {
    opacity: 0.95;
}

/* =========================
   Print / PDF Export
   ========================= */

/* APP-level print preparation */
.print-mode .script-toolbar {
    display: none !important;
}

.print-mode .unlock-page {
    display: none !important;
}

/* optional: visual hint */
.print-mode .script-page {
    background: white;
}

/* =========================
   Browser Print
   ========================= */

@media print {
    body {
        background: white !important;
    }

    /* remove browser margins */
    @page {
        size: letter;
        margin: 0;
    }

    .script-page {
        margin: 0 !important;
        box-shadow: none !important;
        page-break-after: always;
    }

    .script-title-page {
        page-break-after: always;
        margin: 0 !important;
    }
}

/* =========================
   Autosave Indicator
   ========================= */

.script-status {
    font-size: 12px;
    opacity: 0.7;
    margin: 0.5rem 1rem;
}

.script-status.saving {
    color: orange;
}

.script-status.saved {
    color: green;
}

.script-status.error {
    color: red;
}