@using FilmProductionManagementSystem.Web.ViewModels.Script
@model ScriptBlocksViewModel

<div class="script-block @Model.BlockType.ToString().ToLower()"
     data-block-type="@Model.BlockType"
     contenteditable="@(Model.IsReadOnly ? "false" : "true")">

    @Html.Raw(Model.Text)

</div>