@using FilmProductionManagementSystem.Web.ViewModels.Script
@model ScriptPageViewModel

<div class="script-page"
     data-page-number="@Model.PageNumber"
     data-title-page="@Model.IsTitlePage">

    @* Page number (starts from page 2) *@
    @if (Model is { IsTitlePage: false, PageNumber: > 1 })
    {
        <div class="script-page-number">
            @Model.PageNumber
        </div>
    }

    @foreach (var block in Model.ScriptBlocks)
    {
        <partial asp-name="_PartialScriptBlock"
                 model="block" />
    }

</div>